@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f3f4f6; /* gray-100 */
}
